*{
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.nav-box{
    display: flex;
    column-gap: 20px;
}

header{
    background-color: aqua;
}
img{
    width: 110px;
}
a{
    text-decoration: none;
    font-weight: 600;
    color: fuchsia;
}
.menu-icon,.menu-box{
    display: none;
}



/* Планшет және одан да төмен */
@media screen and (max-width: 768px){
    .menu-icon{
        display: flex;
        position: relative;
    }
    .menu-icon:hover .menu-box{
        display: block;
        position: absolute;
        top: 100px;
        flex-direction: column;
    }
    .nav-box{
        display: none;
    }
}